body {
  margin: 0;
  padding: 0;
  background: #F2F4F5;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./img/pexels-asad-photo-maldives-1591373.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
