.TodoItem {
    background: rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.21);
    width: 80%;
   
    margin: 20px auto;
    padding-bottom: 0px;
    box-shadow:0 5px 10px 2px rgba(0, 0, 0, 0.3) ;


  }
  
  .TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9); 
    cursor: pointer;
  }
  .TodoItem-p--complete {
    text-decoration: line-through;
  }
  
  .Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(2px 2px 4px rgba(0,0,0, 0.5));

   
  }
  .Icon2 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 32px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(2px 2px 4px rgba(0,0,0, 0.5));

  
  
  }
  
  .Icon-check {
    position: absolute;
    left: 12px;
  }
  .Icon-check--active {
    color: #53bbef;
  }
  
  .Icon-delete {
    position: absolute;
    right: 12px;
  }

  .Icon:hover {
  color: rgba(255, 1, 1, 0.4);


  }

